<section class="dashboard-main">
  <h1> <%= @facade.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= @facade.first_name  %> <%= @facade.last_name %> </li>
    <li> <%= @facade.email%> </li>
  </ul>

  <% if @facade.token %>
    <section class="github">
      <h1>GitHub</h1>

      <%= link_to "Send an Invite", invite_path %>

      <h2>Repositories</h2>
      <ul class="repositories">
        <% @facade.repositories.each do |repo| %>
          <li class="repository"><a href = <%= repo.url %> > <%= repo.name %></a></li>
        <% end %>
      </ul>

      <h2>Followers</h2>
      <ul class="followers">
        <% @facade.followers.each do |follower| %>
          <li class="follower">
            <a href = <%= follower.url %> > <%= follower.login %></a>
            <%= link_to "Add Friend",
              user_friendships_path(user_id: @facade.id, 
                                    followed_id: follower.user_id),
              method: :post,
              class: "add-friend" if follower.user_id %> 
          </li>
        <% end %>
      </ul>

      <h2>Following</h2>
      <ul class="followings">
        <% @facade.following.each do |following| %>
          <li class="following">
            <a href = <%= following.url %> > <%= following.login %></a>
            <%= link_to "Add Friend",
              user_friendships_path(user_id: @facade.id, 
                                    followed_id: following.user_id),
              method: :post,
              class: "add-friend" if following.user_id %> 
          </li>
        <% end %>
      </ul>
    </section>

  <% else %>
    <%= link_to "Connect to GitHub", github_auth_path %>
  <% end %>

  <% if @facade.friends.first %>
    <section class="friends">
      <h1>Friends</h1>
      <ul>
        <% @facade.friends.each do |friend| %>
          <li class="friend">
            <%= friend.first_name %> <%= friend.last_name %>
          </li>
        <% end %>
      </ul>
    </section>
  <% end %>

  <section>
    <h1>Bookmarked Segments</h1>
    <ul class="bookmarks">
      <% @facade.bookmarks.each do |video| %>
        <li class="bookmarks">
          <a href = "/tutorials/<%= video.tutorial_id %>?video_id=<%= video.id %>">
            <%= video.title %>
          </a>
        </li>
      <% end %>
    </ul>
  </section>
